tests/
src/
README.md
tsconfig.json
vitest.config.ts
node_modules/

###########################
### OTHER GENERIC FILES ###
###########################

# OS Files
.DS_Store
Thumbs.db

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
*.log

# Environment variables
*.env
.env*

###########################